<div class="background">
    <!-- IMG_1046(1).jpg -->

    <div style="display: flex; height: 100%;">
        <div style="flex: 1; display: flex; flex-direction: column;">
            <div style="flex: 1;"></div>
            <div>
                <h1 class="welcome-text">
                    <p class="hey">Hey</p>
                    I<span class="odd-hilight">'</span>M<br>
                    KARTIK<br>
                    GAUTAM<span class="odd-hilight">.</span>
                </h1>
            </div>
            <div style="flex: 1;"></div>
        </div>
        <div style="flex: 1;"></div>
        <div style="flex: 1; display: flex; flex-direction: column;">
        </div>
    </div>
    <p class="bottom-text">Learn More About What I Do</p>
    <i class="material-icons bottom-icon">expand_more</i>

</div>
<!-- 2nd part -->
<div style="height: 100vh; width: 100%; background-color: black; display: flex; flex-direction: column;">
    <div style="flex: 1;"></div>
    <div style="padding: 20%;">
        <h1 style="margin: 0;" class="font-one">About Me</h1>
        <h3 style="text-align: justify;" class="font-one">
            Hello, I am Kartik Gautam, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu ornare lectus,
            sit amet finibus quam. Nullam nec nulla finibus, interdum risus non, fermentum purus. Integer in mi sed
            lacus venenatis scelerisque eu sit amet tortor. Vivamus purus tellus, dapibus a maximus sed, elementum
            malesuada enim. Praesent commodo, nulla nec hendrerit aliquet, orci nunc pretium tortor, in fringilla lorem
            justo vitae nulla. Proin et vehicula libero, eu dignissim tortor. Etiam laoreet odio nec nibh ornare, eu
            interdum diam bibendum. Morbi ullamcorper ornare volutpat. Class aptent taciti sociosqu ad litora torquent
            per conubia nostra, per inceptos himenaeos. Pellentesque auctor convallis pharetra.

            Pellentesque sagittis pretium nulla vel dignissim. Fusce in interdum velit. Phasellus erat neque, porta eget
            malesuada sed, mattis ut nisl. Sed eget condimentum est. Etiam dictum gravida enim, eget mattis tellus
            blandit eu. Vestibulum lobortis tortor nec dolor rutrum consectetur. Phasellus facilisis neque at quam
            dapibus viverra. Etiam laoreet tellus ut ultrices fringilla. Ut blandit dui vitae mollis aliquet. Donec
            ligula risus, interdum quis dolor sed, euismod finibus arcu. Donec rutrum ex nec ornare vulputate.
            Suspendisse lacinia posuere lectus, et varius augue vestibulum vitae. Donec sodales vel ante ut consectetur.
        </h3>
    </div>
    <div style="flex: 1;"></div>
</div>
<!-- 3rd part -->
<div class="page-two">
    <div style="flex: 1;"></div>
    <div style="display: flex;backdrop-filter: saturate(0);">
        <div style="flex: 1;"></div>
        <div>
            <h1 style="font-size: 4em;" class="font-one">TECHNICAL</h1>
            <h2 style="font-size: 3em;" class="font-one">MY KNOWLEDGE LEVEL IN CODING</h2>
            <div class="flex-column" style="padding-bottom: 40px;">
                <div style="flex: 1;"></div>
                <div style="display: flex; flex-direction: column;" id="skills">
                    <div style="display: flex;" *ngFor="let e of skills">
                        <div style="width: 150px;">{{e.skill}}</div>
                        <div style="width: 100%; height: 15px; margin: 4px; display: flex; background-color: grey;">
                            <div style="background-color: aqua; height: 100%;" [ngStyle]="{'width':e.pro}"></div><span
                                style="font-size: 15px;margin: 0;padding: 0;margin-left:12px;line-height: 13px;">{{e.pro}}</span>
                        </div>
                    </div>

                </div>
                <div style="flex: 1;"></div>
            </div>
        </div>
        <div style="flex: 1;"></div>
    </div>
    <div style="flex: 1;"></div>
</div>
<!-- 3rd part -->
<div class="page-three">
    <div style="flex: 1;"></div>
    <div style="display: flex;backdrop-filter: blur(20px) saturate(0.2);">
        <div style="flex: 1;"></div>
        <div>
            <h1 style="font-size: 4em;" class="font-one">PROFESSIONAL</h1>
            <h2 style="font-size: 3em;" class="font-one">TECHNOLOGIES I AM FAMILIAR WITH</h2>
            <div class="flex-column" style="padding-bottom: 40px;">
                <div style="flex: 1;"></div>
                <div style="display: flex; flex-direction: column;" id="skills">
                    <div style="display: flex;" *ngFor="let e of techs">
                        <div style="width: 150px;">{{e.skill}}</div>
                        <div style="width: 100%; height: 15px; margin: 4px; display: flex; background-color: grey;">
                            <div style="background-color: aqua; height: 100%;" [ngStyle]="{'width':e.pro}"></div><span
                                style="font-size: 15px;margin: 0;padding: 0;margin-left:12px;line-height: 13px;">{{e.pro}}</span>
                        </div>
                    </div>

                </div>
                <div style="flex: 1;"></div>
            </div>
        </div>
        <div style="flex: 1;"></div>
    </div>
    <div style="flex: 1;"></div>
</div>

<!-- 4th part -->
<div style="height: 100vh; width: 100%; background-color: white;">

    <div class="row mt-1">
        <div class="col-md-12">
            <!-- Stepers Wrapper -->
            <ul class="stepper stepper-vertical">
                <!-- First Step -->
                <li class="completed">
                    <a href="#!">
                        <span class="circle">1</span>
                        <span class="label">Secondary Education</span>
                    </a>
                </li>
                <!-- First Step -->
                <li class="completed">
                    <a href="#!">
                        <span class="circle">2</span>
                        <span class="label">Senior Secondary Education</span>
                    </a>
                </li>
                <!-- First Step -->
                <li class="completed">
                    <a href="#!">
                        <span class="circle">3</span>
                        <span class="label">Bachelor's Degree</span>
                    </a>
                </li>
                <!-- First Step -->
                <li class="completed">
                    <a href="#!">
                        <span class="circle">4</span>
                        <span class="label">Amity Innovation Incubator</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>
    <!-- Footer -->
    <app-footer-bar></app-footer-bar>